<!DOCTYPE html>
<html lang="en">
<head>
 <title>Word Quiz</title>
 <style>
    .correct{
        color: green;
        font-weight: bold;
    }
    .incorrect{
        color: red;
        font-weight: bold;
    }   
 </style>
</head>
   <body>
    <% 
        let questionCount = locals.totalQuestions ??0;
        let score =locals.totalCorrect ??0;

        let randomIndex = parseInt(Math.random()*chosenWords.length); //generate a random index
        let chosenWord = chosenWords[randomIndex]; //pick that as our correct word
        let [correctWord, correctPart, correctDef] = chosenWord.split('\t'); //breaking it up into the 3 pieces
    %>
    <% if (questionCount == 0) { %>

    <h1>Welcome to the Word Quiz!</h1>
    <% } else { %>
        <h1>Score <%= score %>/<%= questionCount %></h1>
        <% } %>
        <!--shows correct or incorrect-->
        <% if (typeof isCorrect !== "undefined") { %>
            <p>
                <% if (isCorrect) { %>
                    <span class="correct">Correct!</span>
                <% } else { %>
                    <span class="incorrect">Incorrect!</span>
                    <br>
                    Correct Answer: <%= correctDef %>
                <% } %>
            </p>
            <% } %>
    <!--Show the word and part of speech -->
    <h2><%= correctWord %> - <%= correctPart %></h2> 
    <form action="/quiz" method="post"> <!--submits to quiz.js -->
    <ol>
        <% for (currentWord of chosenWords) {  
            //Loop through each word, show its definition only in the list
          let [word, part, def] = currentWord.split('\t');  %>
            <li>
                <label>
                    <input type="radio" name="userChoice" value="<%= def %>">
                    <%= def %>
                </label> 
            </li>
        <% } %>
        
    </ol>
   <input type="hidden" name="correctDef" value="<%= correctDef %>">
   <input type="hidden" name="totalQuestions" value="<%= totalQuestions %>">
   <input type="hidden" name="totalCorrect" value="<%= totalCorrect %>">
    </form>
</body>  
</html>
// the ol list keep tracks of scores across pages. using hidden inputs for correct ans.